@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500&family=Poppins:wght@300;500&display=swap');

:root {
    /* + Paleta de Colores */
    --primary-solid: #280303;
    --secundary-solid: #640f0f;
    --transition-solid: #c01a1a;
    --dark-solid-1: #1F1F1F;
    --dark-solid-2: #2B2E37;
    --dark-solid-3: #3C3D3F;
    --light-font-solid: #eaeaeb;

    /* + Tipografia */
    --base-font-family: 'Hind', sans-serif;
    --alternative-font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font-family);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/Fondo2.jpg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

body::before {
    content: '';
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(212, 225, 231, 0.167) 16%, rgb(216, 182, 182) 93%);
    z-index: -1;
    backdrop-filter: blur(1.7px);
}


a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1440px;
    max-height: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 300px;
    padding: 40px 100px 10px;
}

h1 {
    font-family: var(--alternative-font-family);
    font-size: 50px;
    /* text-decoration: underline dashed 2px var(--transition-solid);
    */
    text-shadow: #444547c8 5px 3px 2px;
    font-weight: 500;
    color: var(--dark-solid-1);
    margin-top: 10px;
}

.main__encriptador {
    display: flex;
    padding: 40px;
    /* align-items: center; */
    justify-content: space-between;
}

.logo {
    width: 32px;
    height: 48px;
}

.logo {
    transition: transform 0.7s ease;
}

.logo:hover {
    transform: scale(1.5);
}

/*+ Sección de Inserción de texto */

.ingresar__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 680px;
    height: 784px;
    padding-top: 80px;
    padding-left: 80px;
}

.area__de__texto {
    width: 100%;
    height: 70%;
    /* color: var(--primary-solid); */
    font-family: var(--base-font-family);
    font-size: 32px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    text-align: justify;
    /* text-transform: lowercase; */
}

.area__de__texto::placeholder {
    color: var(--dark-solid-1);
}

.area__de__texto:focus {
    outline: none;
}

.seccion__botones {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.mensaje__alerta {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-items: center;
}

.icono__alerta {
    width: 18px;
    height: 18px;
    color: var(--dark-solid-1);
}

.mensaje__alerta__estilo {
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-solid-1);
}

.botones {
    display: flex;
    gap: 36px;
}

.boton {
    width: 328px;
    padding: 24px;
    font-family: var(--base-font-family);
    color: var(--light-font-solid);
    background-color: var(--secundary-solid);
    border: 1px solid var(--primary-solid);
    box-shadow: 5px 4px 3px #000000c8;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.boton:hover {
    background-color: var(--dark-solid-2);
    box-shadow: 5px 4px 3px var(--secundary-solid);
}

/*+ Sección de Buscador */

.seccion__buscador {
    width: 400px;
    height: 944px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border: 1px solid var(--primary-solid);
    border-radius: 32px;
    background-color: #fff;
    box-shadow: 5px 4px 3px #000000c8;
}

/* .buscador__inicial {
    display: none;
} */

.img__buscador {
    width: 336px;
    height: 304px;

}

.textos__buscador {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 336px;
}

.texto__mensaje1 {
    color: var(--dark-solid-1);
    text-align: center;
    font-family: var(--alternative-font-family);
    font-size: 24px;
    font-weight: 700;
    padding: 3px 0;
}

.texto__mensaje2 {
    color: var(--dark-solid-1);
    text-align: center;
    font-family: var(--alternative-font-family);
    font-size: 16px;
    font-weight: 400;
    padding: 3px 0;
}

.area__de__texto__buscador {
    display: none;
    width: 336px;
    height: 500px;
    font-family: var(--base-font-family);
    font-size: 24px;
    font-weight: 300;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    text-align: justify;
    padding: 10px;
}

.area__de__texto__buscador:focus {
    outline: none;
}

.boton__copiar {
    display: none;
    width: 328px;
    padding: 24px;
    margin: 10px;
    font-family: var(--base-font-family);
    color: var(--secundary-solid);
    background-color: var(--light-font-solid);
    border: 1px solid var(--primary-solid);
    box-shadow: 5px 4px 3px #000000c8;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.boton__copiar:hover {
    background-color: var(--secundary-solid);
    color: var(--light-font-solid);
}



footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    z-index: 0;
}

.copyright {
    font-family: var(--alternative-font-family);
    font-weight: 500;
    color: var(--dark-solid-2);
}

.icono__git {
    transition: transform 0.7s ease;
}

.icono__git:hover {
    transform: scale(1.5);
}


footer::before {
    content: '';
    background-color: rgba(216, 182, 182);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(0deg, rgba(231,212,212,0.3) 20%, rgba(221,197,197,1) 93%); */
    /* opacity: 0.5; */
    z-index: -1;
}

/*! Adaptación cambio de tamaño de pantalla TABLET */

@media screen and (max-width: 768px) {

    .container {
        max-width: 768px;
        /* max-height: 1174px; */
        margin: 0 auto;
    }

    .main__encriptador {
        display: flex;
        padding: 0 40px 40px;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        gap: 50px;
    }

    header {
        flex-wrap: wrap;
        gap: 10px;
    }

    h1 {
        font-size: 40px;
    }

    .logo {
        width: 31px;
        height: 50.58px;
        margin-bottom: 116px;
    }

    .logo {
        transition: none;
    }

    .logo:hover {
        transform: none;
    }

    /*+ Sección de Inserción de texto */

    .ingresar__texto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 688px;
        height: 550px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .area__de__texto {
        width: 100%;
        height: 50%;
        /* color: var(--primary-solid); */
        font-family: var(--base-font-family);
        font-size: 32px;
        font-weight: 400;
        border: none;
        resize: none;
        overflow: hidden;
        /* text-transform: lowercase; */
    }

    .botones {
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }

    .boton {
        width: 100% 332px;
        height: auto 67px;
        padding: 24px;
    }

    /*+ Sección de Buscador */

    .seccion__buscador {
        width: 688px;
        height: 343px;
        display: flex;
    }

    .img__buscador {
        display: none;
    }

    .textos__buscador {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 624px;
    }

    .texto__mensaje1 {
        color: var(--dark-solid-1);
        text-align: center;
        font-family: var(--alternative-font-family);
        font-size: 24px;
        font-weight: 700;
        padding: 3px 0;
    }

    .texto__mensaje2 {
        color: var(--dark-solid-1);
        text-align: center;
        font-family: var(--alternative-font-family);
        font-size: 16px;
        font-weight: 400;
        padding: 3px 0;
    }

    .area__de__texto__buscador {
        display: none;
        width:600px;
        height: auto 320px;
    }

    .boton__copiar {
        display: none;
        width: 328px;
        padding: 18px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 800px;
        padding: 0;
    }

    .icono__git {
        transition: transform 0.7s ease;
    }

    .icono__git:hover {
        transform: scale(1.5);
    }
}

/* ! CELL PHONE */

@media screen and (max-width: 480px) {

    .container {
        max-width: 480px;
        margin: 0 auto;
    }

    .main__encriptador {
        padding: 24px 24px 40px 24px;
        align-items: center;
        gap: 30px;
    }

    header {
        flex-direction: column;
        align-items: start;
        gap: 8px;
        padding: 40px 40px 0px 40px;
    }


    .logo {
        width: 32px;
        height: 48px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 30px;
    }

    .botones {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;

    }

    .boton {
        width: 430px;
        height: 60px;
        padding: 2px;
        font-family: var(--base-font-family);
        color: var(--light-font-solid);
        background-color: var(--secundary-solid);
        border: 1px solid var(--primary-solid);
        box-shadow: 4px 3px 2px #000000c8;
        border-radius: 24px;
        color: var(--White, #FFF);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    /*+ Sección de Buscador */

    .ingresar__texto {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 326px;
        height: 460px;
    }

    .area__de__texto {
        margin: 30px 0;
    }

    /* .logo__espacio{
        background-color: #1F1F1F;
    } */

    .seccion__buscador {
        display: flex;
        width: 430px;
        height: 180px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        border: 1px solid var(--primary-solid);
        border-radius: 32px;
        background-color: #fff;
        box-shadow: 4px 3px 2px #000000c8;
    }

    .textos__buscador {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 263px;
    }

    .texto__mensaje1 {
        color: var(--dark-solid-1);
        text-align: center;
        font-family: var(--alternative-font-family);
        font-size: 20px;
        font-weight: 700;
        padding: 3px 0;
    }

    .texto__mensaje2 {
        color: var(--dark-solid-1);
        text-align: center;
        font-family: var(--alternative-font-family);
        font-size: 14px;
        font-weight: 400;
        padding: 3px 0;
    }

    .area__de__texto__buscador {
        display: none;
        width: 343px;
        height: 595px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    .copyright {
        text-align: center;
    }

    .icono__git {
        transition: none;
    }

    .icono__git:hover {
        transform: none;
    }

}